<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Todos List
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add" routerDirection="forward">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let todo of todos">
    <ion-item-sliding #item>
      <ion-item *ngIf="todo.done" color="success">
        {{todo.title}}
      </ion-item>
      <ion-item *ngIf="!todo.done" color="warning">
        {{todo.title}}
      </ion-item>

      <ion-item-options side="start">
        <button ion-button (click)="done([todo._id])" color="light">Done</button>
      </ion-item-options>
      <ion-item-options side="end">
        <button ion-button color="light" routerLink="/view/{{todo._id}}">Edit</button>
        <button ion-button (click)="delete([todo._id])" color="danger">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>